<template>
  <q-page class="flex flex-center">
    <div class="country-map"></div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',

  data: () => ({
    map: null
  }),

  async mounted () {
    const { AM4CountryMap } = await import(/* webpackChunkName: "utils" */ 'utils/map.js')
    let { default: geodata } = await import('@amcharts/amcharts4-geodata/indonesiaLow.js')
    this.map = new AM4CountryMap('country-map', null, { geodata })
  },

  beforeDestroy () {
    if (this.map) {
      this.map.dispose()
    }
  }
}
</script>

<style lang="sass" scoped>
.country-map
  width: 100%
  height: 500px
</style>
